body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 6% 0;
}
h1 {
  font-size: 5.5rem;
}
.roll-dice-button {
  background-color: #cc1100;
  display: inline-block;
  margin: 2rem 0;
  box-shadow: none;
  appearance: none;
  text-shadow: none;
  border: none;
  font-size: 2em;
  color: rgba(255,255,255,1);
  padding: .9em 1.75em;
}
.dice{
  background-color: #cc1100;
  float:left;
  width: 100px;
  height: 100px;
  font-size: 7rem;
  text-align:center;
  margin:5px;
  line-height: 5rem;
  color: white;
  padding: 20px 10px 0px 10px;
}
.announcement {
  font-size: 3rem;
}
.highlight {
  color: #cc1100;
}
.wrap_it_up {
  color: #cc1100 !important;
}
.is-countdown{
  width: 600px;
  padding: 4px;
  border: 1px solid #ccc;
  background-color: #eee;
  min-height: 49px;
  font-size: 2rem;
}

/* Countdown Related Stuff */

.countdown-rtl {
  direction: rtl;
}
.countdown-holding span {
  color: #888;
}
.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}
.countdown-show1 .countdown-section {
  width: 98%;
}
.countdown-show2 .countdown-section {
  width: 48%;
}
.countdown-show3 .countdown-section {
  width: 32.5%;
}
.countdown-show4 .countdown-section {
  width: 24.5%;
}
.countdown-show5 .countdown-section {
  width: 19.5%;
}
.countdown-show6 .countdown-section {
  width: 16.25%;
}
.countdown-show7 .countdown-section {
  width: 14%;
}
.countdown-section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
}
.countdown-amount {
  font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
  display: block;
  width: 100%;
}

/*responsive*/

@media (min-width: 770px) {
   h1 {
    font-size: 7rem;
  }
  .dice{
    font-size: 9rem;
    width: 100px;
    height: 100px;
    padding: 0;
  }
  .announcement {
    font-size: 3.9rem;
  }
  .is-countdown{
    width: 600px;
    padding: 4px;
    min-height: 49px;
    font-size: 2.7rem;
  }
}
